html {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 8rem;
}

ul {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-right: 6rem;
}

ul li {
    font-size: 1.6rem;
    line-height: 2rem;
    display: inline-flex;
    position: relative;
    justify-content: center;
}

ul li::before {
    content: "";
    position: absolute;
    bottom: -6px;
    background: #000;
    height: 1.4px;
    width: 3.5rem;
}

ul li:hover {
    background-color: #DCBAA2;
}

ul li.active {
    background-color: #DCBAA2;
}

ul li a {
    color: #000;
    text-decoration: none;
}

img {
    display: flex;
    margin-left: 7.4rem;
    margin-right: auto;
    justify-content: flex-start;
    position:fixed;
    top: -200px;
    left: -150px;
    max-width: auto;
    max-height: 100%;
  }

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto 0;
    width: 100%;
    height: 100%;
}

main h1 {
    font-weight: 700;
    font-size: 6rem;
    line-height: 6.8rem;
    letter-spacing: 0.05em;
}

main article {
    margin: 3rem 0 4rem;
    text-align: center;
}

main p {
    color: #4E4D4D;
    font-size: 3.2rem;
    line-height: 4.8rem;
}

main div {
    font-family: 'Roboto',
        sans-serif;
    letter-spacing: 0.05em;
    font-size: 3rem;
    line-height: 3.4rem;
    width: 40rem;
    height: 8rem;
    background: #DCBAA2;
    border: none;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}